<% provide(:title, 'Cadastrar Unidade') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= simple_form_for @unidade do |f| %>
    <%= f.input :sigla, required: true, autofocus: true %>

    <button type="submit" class="btn btn-success">Criar</button>
    <%= link_to unidades_path, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
    <% end %>
  <% end %>
</div>
