<% provide(:title, 'Cadastrar Área') %>

<div class="container">
  <h3><%= yield(:title) %></h3>

  <%= simple_form_for @area do |f| %>
    <%= f.input :tipo, required: true, autofocus: true, as: :select, collection: ["Concurso Público","Processo Seletivo Simplificado"] %>

    <button type="submit" class="btn btn-success">Criar</button>
  <% end %>
</div>
