<div class="container">
  <h4>Vagas abertas</h4>

  <% if @vagas_abertas.length > 0 %>
    <%= render 'index_table', vagas: @vagas_abertas %>
  <% end %>

  <br />
  <h4>Vagas ocupadas</h4>

  <% if @vagas_ocupadas.length > 0 %>
    <%= render 'index_table', vagas: @vagas_ocupadas %>
  <% end %>

  <%= link_to new_vaga_path, class: "btn btn-success" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nova vaga
  <% end %>
</div>