<div class="row menu">
  <div class="col-md-6">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post-titulo">
          <%= post.titulo %>
        </div>
        <div class="post-corpo">
          <%= raw post.corpo %>
        </div>
        <div class="post-data">
          Publicado em <%=l post.data, format: :long %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
  </div>
</div>
