<div class="container">
  <div class="titulo">
    Editais
  </div>

  <ul class="lista abertas list-group col-md-4">
    <li class="primeiro list-group-item">Inscrições abertas</li>
    <li class="list-group-item">Edital 025/2016</li>
    <li class="list-group-item">Edital 024/2016</li>
    <li class="list-group-item">Edital 022/2016</li>
    <li class="list-group-item">Edital 021/2016</li>
    <li class="list-group-item">Edital 018/2016</li>
  </ul>

  <ul class="lista encerradas list-group col-md-4">
    <li class="primeiro list-group-item">Inscrições deferidas</li>
    <li class="list-group-item">Edital 023/2016</li>
    <li class="list-group-item">Edital 020/2016</li>
    <li class="list-group-item">Edital 019/2016</li>
  </ul>

  <ul class="lista resultados list-group col-md-4">
    <li class="primeiro list-group-item">Resultados</li>
    <li class="list-group-item">Edital 017/2016</li>
    <li class="list-group-item">Edital 016/2016</li>
    <li class="list-group-item">Edital 015/2016</li>
    <li class="list-group-item">Edital 014/2016</li>
    <li class="list-group-item">Edital 013/2016</li>
    <a href="#">Ver mais...</a>
  </ul>
</div>

