// Place all the styles related to the areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.index.areas {
  td.area,
  td.subarea {
    width: 18%;
  }

  td.unidade {
    width: 7%;
  }

  td.tipo {
    width: 15%;
  }

  td.situacao {
    width: 12%;
  }
}

.table.criterios,
.table.titulos {
  border: none;

  tr td {
    border: none;
  }

  tr td.borda,
  thead:first-child > tr:first-child > td.borda {
    border: 1px solid #333;
  }

  thead > tr > td {
    font-weight: bold;
  }
}

td.descricao {
  width: 50%;
}

td.criterio {
  width: 25%;

  input {
    width: 100%;
  }
}

td.valor {
  width: 30%;

  input {
    width: 70px;
    display: inline;
  }

  select {
    display: inline;
  }
}

td.maximo {
  width: 15%;

  input {
    width: 70px;
    display: inline;
  }
}

.aviso-mi {
  font-weight: bold;

  &.affix {
    top: 0;
  }
}

.procedimental-esconder {
  display: none;
}

div.vagas {
  input {
    width: 100px;
  }
}

.area_coautoria.form-group {
  display: inline-block;
  width: 60px;
  margin: 0;

  input {
    display: inline-block;
  }
}

p.dica {
  color: #888;
}

.nav-tabs > li > a:hover {
  background-color: #cdf;

}

.nav.nav-tabs {
  .active {
    a, a:hover {
      background-color: #cdf;
    }
  }
}

.tab-pane {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
}

.botoes {
  margin-top: 10px;
}

div.vaga {

  label.string.control-label.vaga {
    display: block;
  }

  div {
    display: inline-block;
    &.area_tipo_vaga {
      width: 25%;
    }

    &.area_nome_vaga {
      width: 70%;
    }
  }
  input {
    width: 100%;
  }
}

div.qualificacao {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;

  div.form-group.boolean {
    /* Div do checkbox*/
    width: 12%;
    display: inline-block;
  }

  div.form-group.text {
    /* Div da textarea */
    display: inline-block;
    width: 85%;
  }
}
