// Place all the styles related to the areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table.criterios,
.table.titulos {
  border: none;

  tr td {
    border: none;
  }

  tr td.borda,
  thead:first-child > tr:first-child > td.borda {
    border: 1px solid #333;
  }

  thead > tr > td {
    font-weight: bold;
  }
}

td.descricao {
  width: 50%;
}

td.criterio {
  width: 25%;

  input {
    width: 100%;
  }
}

td.valor,
td.maximo {
  width: 10%;

  input {
    width: 100%;
  }
}

td.unidade {
  width: 20%;

  input {
    width: 100%;
  }
}
