// Place all the styles related to the Editais controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edital {
  /*width: 17cm;*/
  width: 21cm;
  padding-left: 3cm;
  padding-right: 1cm;
  border: 1px solid #555;

  margin-left: auto;
  margin-right: auto;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  font-size: 12pt;
  line-height: 1.15;
  text-align: justify;
  color: #000;

  p {
    margin: 0;
    padding: 0;

    a {
      color: #03d;
      font-weight: bold;
    }
  }

  p.nivel-1 {
    margin-left: 1cm;
  }

  p.nivel-2 {
    margin-left: 1.75cm;
  }

  p.center {
    text-align: center;
  }

  div.item {
    margin-bottom: 12pt;
  }

  div.itens {
    margin-left: 1.75cm;
  }

  .edital-header {
    font-weight: bold;
    text-align: center;

    .cabecalho {
      width: 100%;
    }

    p.linha-cabecalho {
      font-size: 11pt;
      line-height: 11pt;
    }

    .numero-edital {
      font-size: 14pt;
      line-height: 1.5;
      border-bottom: 1px solid #666;
      border-top: 1px solid #666;
    }
  }

  .to-the-right {
    margin-left: 7cm;
    margin-top: 0.5cm;
    font-size: 11pt;
    font-weight: bold;
  }
}

.areas-edital {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 12pt;
  font-size: 11pt;

  td,
  th {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
  }

  td.area {
    width: 32%;
  }

  td.area-mesclada {
    width: 16%;
  }

  td.subarea {
    width: 16%;
  }

  td.vagas {
    width: 10%;
  }

  td.qualificacao {
    width: 43%;
  }

  td.regime {
    width: 15%;
  }
}

.salario {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 12pt;

  td,
  th {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
  }
}

.criterios {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 12pt;
  font-size: 11pt;

  td,
  th {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
  }
}

.titulos {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 12pt;
  font-size: 11pt;

  td,
  th {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
  }

  td.item {
    width: 10%;
  }

  td.descricao {
    width: 50%;
  }

  td.pontuacao {
    width: 20%;
  }

  td.maximo {
    width: 20%
  }
}
