// Estilos gerais da página.

.titulo {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  background-color: #1659bf;
  height: 150px;
  color: #fff;

  .span-ufu {
    font-size: 16px;
  }

  .span-title {
    font-size: 30px;
    display: block;
    font-weight: bold;
    padding: 5px 0;
  }

  a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }

  .texto {
    display: inline;
    /*line-height: 20px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    /*text-align: center;*/
    left: 20px;
  }

  .login {
    border-top: 1px solid #fff;
    font-size: 14px;
    text-align: right;
  }

  .nav {
    a {
      padding: 10px;
    }
  }
}

.lista {
  .primeiro {
    font-weight: bold;
  }

  li:nth-child(2n+1) {
    background-color: #e9e9e9;
  }

  &.abertas {
    .primeiro {
      background-color: $state-success-bg;
    }
  }

  &.encerradas {
    .primeiro {
      background-color: $state-danger-bg;
    }
  }

  &.resultados {
    .primeiro {
      background-color: $state-warning-bg;
    }
  }
}

.abertas {
  .primeiro {
    background-color: #55ff55;
  }
}

.footer {
  background-color: #1659bf;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
}

.input-group.date {
  cursor: pointer;
}

table.table.table-condensed.index {
  td {
    vertical-align: middle;
  }
}

.list-group.menu {
  margin: 0;
  left: -30px;

  .list-group-item {
    padding: 8px;
    background-color: #eee;
    color: #000;
  }
  .list-group-item:hover {
    background-color: #ccc;
  }

  .icone {
    width: 20px;
    text-align: right;
    display: inline-block;
  }
  .texto {
    margin-left: 10px;
  }

  .pequeno {
    font-size: 13px;
    padding-left: 20px;
  }
}

.row.menu {
  margin: 0;
}

.coluna-menu {
  padding: 0;
  float: left;
  width: 100%;
}

.colunas-menu {
  padding: 10px;
  float: left;
  width: 100%;
}

@media (min-width: 768px) {
  .coluna-menu {
    width: 18%;
  }

  .colunas-menu {
    width: 82%;
  }
}

@media (min-width: 992px) {
  .coluna-menu {
    width: 18%;
  }

  .colunas-menu {
    width: 82%;
  }
}

@media (min-width: 1200px) {
  .coluna-menu {
    width: 18%;
  }

  .colunas-menu {
    width: 82%;
  }
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 5px;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  /* ?? */
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
  }
}

.ui-widget-content .ui-state-focus {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
