// Estilos gerais da página.

.titulo {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  background-color: #1659bf;
  height: 150px;
  color: #fff;

  .span-ufu {
    font-size: 16px;
  }

  .span-title {
    font-size: 30px;
    display: block;
    font-weight: bold;
    padding: 5px 0;
  }

  a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }

  .texto {
    display: inline;
    /*line-height: 20px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    /*text-align: center;*/
    left: 20px;
  }

  .login {
    border-top: 1px solid #fff;
    font-size: 14px;
    text-align: right;
  }

  .nav {
    a {
      padding: 10px;
    }
  }
}

.lista {
  .primeiro {
    font-weight: bold;
  }

  li:nth-child(2n+1) {
    background-color: #e9e9e9;
  }

  &.abertas {
    .primeiro {
      background-color: $state-success-bg;
    }
  }

  &.encerradas {
    .primeiro {
      background-color: $state-danger-bg;
    }
  }

  &.resultados {
    .primeiro {
      background-color: $state-warning-bg;
    }
  }
}

.abertas {
  .primeiro {
    background-color: #55ff55;
  }
}

.footer {
  background-color: #1659bf;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
}

.input-group.date {
  cursor: pointer;
}

div[class*='regime'],
div[class*='campus'],
div[class*='tipo'],
div[class*='unidade'],
div[class*='codigo'],
div[class*='situacao'],
div[class*='numero'],
div[class*='data'] {
  width: 25%;
}

div.date.datetimepicker {
  width: 20%;
}

table.table.table-condensed.index {
  td {
    vertical-align: middle;
  }
}

.list-group.menu {
  margin: 0;
  left: -30px;

  .list-group-item {
    padding: 8px;
    background-color: #eee;
    color: #000;
  }
  .list-group-item:hover {
    background-color: #ccc;
  }

  .icone {
    width: 20px;
    text-align: right;
    display: inline-block;
  }
  .texto {
    margin-left: 10px;
  }

  .pequeno {
    font-size: 13px;
    padding-left: 20px;
  }
}

.row.menu {
  margin: 0;
}

.coluna-menu {
  padding: 0;
  float: left;
  width: 100%;
}

.colunas-menu {
  padding: 10px;
  float: left;
  width: 100%;

  .form-group {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .coluna-menu {
    width: 18%;
  }

  .colunas-menu {
    width: 82%;
  }
}

@media (min-width: 992px) {
  .coluna-menu {
    width: 18%;
  }

  .colunas-menu {
    width: 82%;
  }
}

@media (min-width: 1200px) {
  .coluna-menu {
    width: 18%;
  }

  .colunas-menu {
    width: 82%;
  }
}
