// Place all the styles related to the Vagas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.data-pequena {
  .input-group.date.datetimepicker {
      width: 200px;
  }
}

td.unidade {
  width: 7%;
}

td.nome {
  width: 25%;
}

td.codigo {
  width: 7%;
}

td.tipo {
  width: 12%;
}

td.data {
  width: 9%;
}

td.situacao {
  width: 13%;
}

td.concurso {
  width: 12%;
}

#lista-vagas.carregando {
  opacity: 0.5;
}
