<div class="header">
  <div class="brasao col-md-3">
    <%= image_tag "brasao.gif" %>
  </div>
  <div class="texto col-md-6">
    SERVIÇO PÚBLICO FEDERAL <br />
    UNIVERSIDADE FEDERAL DE UBERLÂNDIA <br />
    PRÓ-REITORIA DE GESTÃO DE PESSOAS
  </div>
  <div class="ufu col-md-3">
    <%= image_tag "ufu.png" %>
  </div>
</div>