<!-- From https://github.com/cubing/worldcubeassociation.org/blob/master/WcaOnRails/app/views/admin/_nav.html.erb-->
<div class="col-sm-3 col-md-2">
  <div class="list-group menu">
    <% items = [
      { text: "Solicitações de edital", path: "", icon: "bell" },
      { text: "Minhas solicitações", path: areas_path, icon: "bell-o" },
      { text: "Nova solicitação", path: new_area_path, icon: "sticky-note-o" },
      { text: "Normas complementares", path: "", icon: "newspaper-o" },
      { text: "Comissão Julgadora", path: "", icon: "group" },
      { text: "Datas de prova", path: "", icon: "calendar" }
    ] %>
    <% if current_user.pode_criar_edital? %>
      <% items = items | [
        { text: "Editais", path: editais_path,  icon: "file-text-o" },
        { text: "Novo edital", path: new_edital_path, icon: "file-o" },
        { text: "Vagas", path: vagas_path, icon: "user" },
        { text: "Nova vaga", path: new_vaga_path, icon: "plus" },
        { text: "Resultado", path: "", icon: "list-ol" }
      ] %>
    <% end %>
    <% items.each do |item| %>
      <%= link_to item[:path], class: "list-group-item" do %>
        <%= icon("#{item[:icon]} fa-lg") %> <%= item[:text] %>
      <% end %>
    <% end %>
  </div>
</div>
